@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic", sans-serif;
}

:root {
  --primary-color: #fe4164;
  --secondary-color: #007fff;
  --max-window-width: 70%;
}

.primary-color {
  color: var(--primary-color);
}


.logo {
  max-width: 80px;
}

.header h2 {
  font-weight: bold;
  color: var(--primary-color);
  font-size: 36px;
  font-weight: bold;
}


.active {
  text-decoration: underline;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration-color: var(--primary-color);
}

.playground {
  position: fixed;
  /* top: 0;
  bottom: 0;
  left: 0; */
  width: 800px;
  height: 550px;
  background-color: #1E1E2C;
  margin: 20px 10px 0px 25px;
}

.code-editor {
  height: 500px;
  /* overflow: hidden; */
  /* position: relative; */
}

.editor-header {
  height: 30px;
  content: attr(title);
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 18px;
  color: #fafafa;
}

.CodeMirror{
  height: 440px !important;
}

.react-codemirror2 {
  height: 450px;
  /* max-height: calc(100% - 30px); */
  overflow: auto;
  font-size:15px;
  color: white;
} 

.result {
  position: fixed;
  top: 100px;
  right: 30px;
  bottom: 0;
  left: 870px;
  overflow: hidden;
  /* font-size: larger; */
  font-size:15px;
}

.submit-div{
  float : right;
  /* margin-top: 15px; */
  margin-right: 25px;
}

.submit-btn{
  border-radius: 5px;
}

.add-btn{
  border-radius: 5px;
  margin : 10px;
}

.output{
  margin: 20px 10px 15px 25px;
}

.code{
  margin : 12px 0px 12px 0px;
}


.logo {
  max-width: 80px;
}

.header h2 {
  font-weight: bold;
  color: var(--primary-color);
  font-size: 36px;
  font-weight: bold;
}

.header .tagline{
  font-weight: bold;
  text-align: center;
  color: #000;
}

.header .tagline span {
  color: var(--primary-color);
}

.header .nav {
  display:flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
}

.header .nav h5 {
  margin: 0 15px;
  transition: all 0.5s;
}

.header .nav h5 a{
  color: black;
}

.header .nav h5:hover {
  transform: scale(1.2);
}

.header .nav .active {
  text-decoration: underline;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration-color: var(--primary-color);
}


div.scroll {
  background: #F5F5F5;
  width: 500px;
  height: 510px;
  overflow: auto;
  text-align:justify;
  padding-left: 10px;
}